<!-- 7.1 
Form to submit posts
-->
<template name="postSubmit">

  <form class="main form">
    <!-- URL entry -->
    <!-- 9.4 add error classes conditionally -->
    <div class="form-group {{errorClass 'url'}}">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
          <input name="url" id="url" type="text" value="" 
          placeholder="Your URL" class="form-control"/>
          <!-- 9.4 add error message conditionally -->
          <span class="help-block">{{errorMessage 'url'}}</span>
      </div>
    </div>

    <!-- Title entry -->
    <!-- 9.4 add error classes conditionally -->
    <div class="form-group {{errorClass 'url'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" 
            placeholder="Name your post" class="form-control"/>
          <!-- 9.4 add error message conditionally -->
          <span class="help-block">{{errorMessage 'url'}}</span>
      </div>
    </div>

    <!-- Submit button -->
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>

</template>