<!-- 
	3.1 
	Item template expects to see a bound data context that contains
	{url, title, domain} properties

	Because this is invoked from the loop in postList, the data context
	is effectively bound to the specific data item passed down in 
	that specific iteration

	ergo: ensure that 'posts' bound to postsList template has items
	that support the required properties directly
	(note that in this case 'domain' is not defined, hence empty in view)

	5.3
	Added pathFor to dynamically link each post to a post-specific page
	for discussions. Note that Router resolves this to "/post/:_id" where
	the _id is expected to be provided by the associated data context
	Because the posts data here comes from a collection (MongoDB) they have
	the built-in _id which maps perfectly onto the required route param

	You can also pass a second argument to this pathFor expression, which 
	provides a location where an _id is to be found. This allows you to also
	create links dynamically where the _id is retrieved from a different 
	function, helper or context that you specify explicitly
		e.g., {{pathFor 'postPage' alternateContextObj }}
	where alternateContextObj contains an _id property, and is associated
	with the template helper for this postItem template.

	8.1
	Add links to edit
-->
<template name="postItem">

  <div class="post">
    <div class="post-content">
      <h3>
      	<a href="{{url}}">{{title}}</a>
      	<span>{{domain}}</span>
      </h3>
      <p>
        submitted by {{author}}
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>

    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">
    	Discuss
    </a>
  </div>

</template>