<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

    <!-- NAVIGATION COLLAPSIBLE HEADER -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" 
                data-toggle="collapse" 
                data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'postsList'}}">
          Microscope
        </a>
      </div>

    <!-- NAVIGATION BAR CONTENTS -->
      <div class="collapse navbar-collapse" id="navigation">

        <!-- 7.1 Add submit post option -->
        <ul class="nav navbar-nav">
          <!-- 7.5 Hide if not logged in -->
          {{#if currentUser}}
            <li><a href="{{pathFor 'postSubmit'}}">Submit Post</a></li>
          {{/if}}
        </ul>

        <!-- 6.1 use {{> loginButtons align="right"}} to drop right -->
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul> 
      </div>

    </div>
  </nav>
</template>