<!-- 
2. Add basic template
-->
<template name="page">

<!-- 7. Put placeholders for modal dialogs 
anchored to this template, triggered by Session state
-->
	<div class="container-fluid">
		<!-- 
		6. Page contains a single fluid row with 
			- party on map on right
			- party details on left
		-->
		<div class="row-fluid">
			<div class="span4">
				{{> details}}
            	{{#if currentUser}}
            	<h1 class="muted pagination-centered">
              		Double click the map to post a party!
            	</h1>
            	{{/if}}
          	</div>
          	<div class="span8">
            	{{> map}}
          	</div>
        </div>
    </div>
</template>
